@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  body {
    @apply bg-slate-950 text-slate-50 antialiased transition-colors duration-300;
  }
  
  body.light-mode {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
